:root {
    --primary-color: #1db954;
    --secondary-color: #282828;
    --background-color: black;
    --text-color: #e0e0e0;
    --accent-color: white;
    --hover-color: #1ed760;
    --border-color: #1db954;
    --gradient-color: linear-gradient(135deg, #1db954, #1ed760);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container-h, .container-po, .container-pd, .container-b, .container-f, .container-ff {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 15px;
    animation: fadeIn 1.2s ease-in-out;
}

p {
    margin-bottom: 12px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.4s ease, text-shadow 0.4s;
}

a:hover {
    color: var(--hover-color);
    text-shadow: 2px 2px 5px var(--hover-color);
}

header {
    background: var(--secondary-color);
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* position: sticky; */
    top: 0;
    z-index: 1000;
    transition: background 0.6s ease;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

header h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    transform: scale(1.03);
    transition: transform 0.5s ease;
}

header h1:hover {
    transform: scale(1.08);
}

nav {
    margin-top: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 0;
}

nav ul li a {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background 0.4s, color 0.4s;
}

nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}
.profile-overview {
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 35px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.6s ease;
    flex-direction: row;
}

.profile-image {
    flex-shrink: 0;
    animation: pulse1 5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    /* margin: 2px 2px 2px 2px; */
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--background-color);
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.profile-info h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 14px;
    transition: color 0.4s ease;
}

.profile-info p {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-bottom: 10px;
}


.profile-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.profile-details > div {
    background: var(--secondary-color);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
    transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.5s;
}

.profile-details > div:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.8);
    background: linear-gradient(135deg, var(--secondary-color), #3b3b3b);
}

.bio, .skills, .recent-activities, .favorite-games, .goals, .settings, .achievements, .featured-reviews, .portfolio, .friends, .social-links {
    margin-bottom: 30px;
}

.settings-option {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.settings-option input,

.settings-option textarea {
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
}

.settings-option button {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.settings-option button:hover {
    background: var(--hover-color);
}

.achievements {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.achievement-item {
    display: flex;
    align-items: center;
    /* color: white; */
    gap: 20px;
    font-size: 1.1rem;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease, background 0.5s ease;
}

.achievement-item:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, var(--secondary-color), #3b3b3b);
}

.badges {

    background: var(--secondary-color);
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badges h3 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.badge-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.badge-item {
    text-align: center;
    font-size: 1.2rem;
}

.badge-item span {
    font-size: 50px;
}

.badge-item:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}



footer {
    background: var(--background-color);
    padding: 40px 0;
    color: var(--text-color);
    border-top: 1px solid var(--border-color);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}

.footer-links, .footer-social {
    flex: 1;
    min-width: 200px;
}

.footer-links h4, .footer-social h4 {
    color: var(--accent-color);
    margin-bottom: 15px;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.4s ease;
}

.footer-links ul li a:hover {
    color: var(--hover-color);
}

.footer-social ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    /* align-items: center; */
}

.footer-social ul li {
    margin: 0 10px;
}

.footer-social ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #333;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
}


.footer-social ul li a:hover {
    background-color: #1db954;
    transform: scale(1.1);
}

.footer-social ul li a .fab {
    transition: color 0.3s;
}

.footer-social ul li a:hover .fab {
    color: white;
}


.footer-bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    color: var(--text-color);
    font-size: 0.9rem;
    margin-top: 20px;
}



@keyframes pulse1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}